body {
    margin: 0;
    font-family: "Segoe UI";
    background-color: #f3fff2;
}

/*
    Menubar style
*/

#menubar {
    background-color: #29992d;
    color: whitesmoke;
    width: 100%;
    box-shadow: 0px -2px 11px 0px black;
    display: flex;
    align-items: center;
}

#menubar .brand {
    padding-left: 10px;
    vertical-align: middle;
}

#menubar ul  li {
    display: inline;
    list-style:none;
    margin-right: 25px;
    cursor: pointer;
}

/*
    General style definitions for content section
*/

#content {
    padding: 20px;
    margin: 10px;
    min-height: 75vh;
}

#content .welcome-msg {
    font-weight: bold;
    text-align: center;
}

#content table {
    margin: auto;
}

#content table, th, td {
    border: 1px solid green;
}

#content td, th {
    padding: 5px;
    vertical-align: middle;
}

#content .form-table, #content .form-table td, #content .form-table th {
    border: 0;
}

#content .success-msg {
    background: green;
    color: whitesmoke;
    text-align: center;
}

#content .fail-msg {
    background: red;
    color: whitesmoke;
    text-align: center;
}

#content .centered-content {
    text-align: center;
}

#content .bottom-margin {
    margin-bottom: 10px;
}


/*
    Footer style
*/

#footer {
    text-align: center;
}